<script src="node_modules/ng2-bs3-modal/bundles/ng2-bs3-modal.js"></script>

<!--<button type="button" class="btn btn-default" (click)="validationModal.open()">With form validation</button>-->

<modal #modal (onClose)="save();">
    <form #modalForm="ngForm">
        <modal-header [show-close]="true">
            <h4 class="modal-title">{{modalTitle}}</h4>
        </modal-header>
        <modal-body>
            <div class="form-group">
                <label for="issueTitle">Title:</label>
                <input type="text" class="form-control" required [(ngModel)]="model.issueTitle" name="IssueTitle" id="IssueTitle">
            </div>
            <div class="form-group">
                <label for="issueDescription">Description:</label>
                <input type="text" class="form-control" [(ngModel)]="model.issueDescription" name="IssueDescription" id="IssueDescription">
            </div>
            <!-- Plan on implementing these as ng-autocompletes instead of dropdowns.-->
            <div class="form-group">
                <label for="IssueAssignedUserId">Assigned To:</label>
                <select type="string" [(ngModel)]="model.issueAssignedUserId" name="assignedTo" class="form-control">
                    <option *ngFor="let user of users" value="{{user.userId}}">{{user.userName}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="issueType">Type:</label>
                <select type="string" [(ngModel)]="model.issueType" name="issueType" class="form-control">
                    <option *ngFor="let type of types" value="{{type.typeId}}">{{type.typeName}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="issueStatusId">Status:</label>
                <select type="string" [(ngModel)]="model.issueStatusId" name="status" class="form-control">
                    <option *ngFor="let status of statuses" value="{{status.statusId}}">{{status.statusName}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="IssuePriorityId">Priority:</label>
                <select type="string" [(ngModel)]="model.issuePriorityId" name="priority" class="form-control">
                    <option *ngFor="let priority of priorities" value="{{priority.priorityId}}">{{priority.priorityName}}</option>
                </select>
            </div>
        </modal-body>
        <modal-footer>
            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal.dismiss()">Cancel</button>
            <button type="button" class="btn btn-primary" [disabled]="!modalForm.valid" (click)="modal.close()">Save</button>
        </modal-footer>
    </form>
</modal>