<script src="node_modules/ng2-bs3-modal/bundles/ng2-bs3-modal.js"></script>
<!--<script src="node_modules/jquery/dist/jquery.js"></script>-->

<button type="button" class="btn btn-default" (click)="validationModal.open()">With form validation</button>

<modal #validationModal>
    <form #modalForm="ngForm">
        <modal-header [show-close]="true">
            <h4 class="modal-title">Create a Node</h4>
        </modal-header>
        <modal-body>
            <div class="form-group">
                <label for="IssueTitle">Title:</label>
                <input type="text" class="form-control" required [(ngModel)]="IssueTitle" name="IssueTitle" id="IssueTitle">
            </div>
            <div class="form-group">
                <label for="IssueDescription">Description:</label>
                <input type="text" class="form-control" required [(ngModel)]="IssueDescription" name="IssueDescription" id="IssueDescription">
            </div>
            <div class="form-group">
                <label for="IssueStatusId">StatusId:</label>
                <input type="text" class="form-control" required [(ngModel)]="IssueStatusId" name="IssueStatusId" id="IssueStatusId">
            </div>
            <div class="form-group">
                <label for="IssuePriorityId">PriorityId:</label>
                <input type="text" class="form-control" required [(ngModel)]="IssuePriorityId" name="IssuePriorityId" id="IssuePriorityId">
            </div>
            <div class="form-group">
                <label for="IssueCreatorUserId">CreatorId:</label>
                <input type="text" class="form-control" required [(ngModel)]="IssueCreatorUserId" name="IssueCreatorUserId" id="IssueCreatorUserId">
            </div>
            <div class="form-group">
                <label for="IssueAssignedUserId">AssignedUser:</label>
                <input type="text" class="form-control" required [(ngModel)]="IssueAssignedUserId" name="IssueAssignedUserId" id="IssueAssignedUserId">
            </div>
            <div class="form-group">
                <label for="IssueOwnerUserId">OwnerId:</label>
                <input type="text" class="form-control" required [(ngModel)]="IssueOwnerUserId" name="IssueOwnerUserId" id="IssueOwnerUserId">
            </div>
            <div class="form-group">
                <label for="DateCreated">DateCreated:</label>
                <input type="text" class="form-control" [(ngModel)]="DateCreated" name="DateCreated" id="DateCreated">
            </div>
            <div class="form-group">
                <label for="DependentOn">DependentOn:</label>
                <input type="text" class="form-control" required [(ngModel)]="DependentOn" name="DependentOn" id="DependentOn">
            </div>
            <div class="form-group">
                <label for="IssueProjectId">IssueProjectId:</label>
                <input type="text" class="form-control" required [(ngModel)]="IssueProjectId" name="IssueProjectId" id="IssueProjectId">
            </div>
        </modal-body>
        <modal-footer>
            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="validationModal.dismiss()">Cancel</button>
            <button type="button" class="btn btn-primary" [disabled]="!modalForm.valid" (click)="validationModal.close()">Save</button>
        </modal-footer>
    </form>
</modal>