<div class="navbar navbar-default" id="navigationbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">BTProjectTree</a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a>All Projects</a>
                </li>
                <li><a href="">Create Project</a></li>
            </ul>
            <div class="navbar-header navbar-right">
                <ul class="nav navbar-nav">
                    <li>
                        <a>Welcome John</a>
                    </li>
                </ul>
            </div>
            <form id="searchForm" class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search Projects">
                </div>
                <button class="btn btn-default">
                    Search
                </button>
            </form>
        </div>
    </div>
</div>