<!-- This div holds the feature tree -->
<!--<div class="panel panel-default">
    <div class="panel-heading">
         <h3 class="panel-title">{{projectId}} | {{projectTitle}}</h3><button type="button" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-plus"></span> Add</button>
    </div>
    <div class="panel-body">-->

<!--ngIf ensures that the title does not load before the chart does.-->
<h2 *ngIf="treeHasLoaded">{{projectId}} | {{projectTitle}}</h2>
        <div id="canvas">
            <modal-component></modal-component>
        </div>
    <!--</div>-->

